*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ye nahi tha isiliye nahi chal raha tha. */
html,body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100%;
    position: relative;
}

#fs{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    background-color: rgb(43, 43, 43);
}

#elem{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 0px;
    background-color: rgb(14, 214, 151);
}

#white{
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    background-color: #dadada;
}