*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ye nahi tha isiliye nahi chal raha tha. */
html,body{
    height: 100%;
    width: 100%;
}

/* becoz span mai hight width set ni hoti
.parent{
    display: block;
    background-color: red;
    overflow: hidden;
}

.child{
    display: block;
    ye karne se , ye child elemnt parent just neeche hogya hai, ab isko gayab karnege parent mai overflow hidden karke
    transform: translate(0,30%);
    background-color: yellowgreen;
} */